# Dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Build outputs
Frontend/dist/
Backend/dist/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
